tibcofile/BWP.Core/Services/OrderProcess/Contract/ProcessCustomerAccountService_ConcreteWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://www.tibco.com/service/CustomerAccountConcrete" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/tibcofile/BWP.Core/Schema/Schema.xsd2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.tibco.com/service/CustomerAccountConcrete">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/tibcofile/BWP.Core/Schema/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/tibcofile/BWP.Core/Schema/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="CustomerAccount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AccountID" type="xs:string"/>
                        <xs:element name="AmountOwed" type="xs:double"/>
                        <xs:element name="AvailableCredit" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfInsertCustomerAccount-service">
        <wsdl:port name="intfwsInsertCustomerAccountEndpoint0" binding="tns:intfwsInsertCustomerAccountEndpoint0Binding">
            <soap:address location="http://localhost:7575/BWP.Core/Services/CustomerAccount/Interface/intfInsertCustomerAccount-service.serviceagent/intfwsInsertCustomerAccountEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="InsertCustomerAccountOp">
            <wsdl:input message="tns:CustomerAccount"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsInsertCustomerAccountEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InsertCustomerAccountOp">
            <soap:operation style="document" soapAction="/BWP.Core/Services/CustomerAccount/Interface/intfInsertCustomerAccount-service.serviceagent/intfwsInsertCustomerAccountEndpoint0/InsertCustomerAccountOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="CustomerAccount">
        <wsdl:part name="parameters" element="ns0:CustomerAccount"/>
    </wsdl:message>
</wsdl:definitions>