tibcofile/BWP.Core/Schema/CustomerAccountSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/tibcofile/BWP.Core/Schema/Schema.xsd2"
	 targetNamespace="http://www.tibco.com/schemas/tibcofile/BWP.Core/Schema/Schema.xsd2"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="CustomerAccount">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AccountID" type="xs:string"/>
				<xs:element name="AmountOwed" type="xs:double"/>
				<xs:element name="AvailableCredit" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>