tibcofile/BWP.Core/Schema/OAG_Order.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "LineNumber" type = "xsd:string"/>
	<xsd:element name = "ItemId" type = "xsd:string"/>
	<xsd:element name = "OrderQuantity" type = "xsd:nonNegativeInteger"/>
	<xsd:element name = "Line">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "LineNumber"/>
				<xsd:element ref = "ItemId"/>
				<xsd:element ref = "OrderQuantity"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "DocumentDateTime" type = "xsd:date"/>
	<xsd:element name = "PartyId" type = "xsd:string"/>
	<xsd:element name = "Id" type = "xsd:string"/>
	<xsd:element name = "OAG_SalesOrder">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "Id"/>
				<xsd:element ref = "PartyId"/>
				<xsd:element ref = "DocumentDateTime"/>
				<xsd:element ref = "Line" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>