tibcofile/BWP.Core/Schema/SalesDB_Order.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.tibco.com/SalesDB"
	 targetNamespace = "http://www.tibco.com/SalesDB"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "SalesDB_Order">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "orderid"/>
				<xsd:element ref = "custid"/>
				<xsd:element ref = "shipdate"/>
				<xsd:element ref = "orderdtl" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "orderid" type = "xsd:string"/>
	<xsd:element name = "custid" type = "xsd:string"/>
	<xsd:element name = "orderdtl">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "itemid"/>
				<xsd:element ref = "quantity"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "itemid" type = "xsd:string"/>
	<xsd:element name = "quantity" type = "xsd:string"/>
	<xsd:element name = "shiploc" type = "xsd:string"/>
	<xsd:element name = "shipdate" type = "xsd:string"/>
</xsd:schema>